[MAIN]
fail-under=10
jobs=1
load-plugins=pylint.extensions.no_self_use

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead

[REPORTS]
reports=no
score=yes

[FORMAT]
max-line-length=127

[BASIC]
good-names=i,
           j,
           k,
           x,
           y,
           _

[DESIGN]
max-attributes=7
max-branches=12
max-locals=15
max-public-methods=20
max-statements=50
